<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Cloudstore</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="brand">
            <i class="lnr lnr-cloud"></i>
            <span>CloudStore</span>
        </a>

        <div class="nav flex align-center">
            <a href="/" class="nav-link flex align-center">
                <i class="lnr lnr-home"></i>
                <span>Home</span>
            </a>

            <a href="/" class="nav-link flex align-center">
                <i class="lnr lnr-cart"></i>
                <span>Pricing</span>
            </a>
            
            <a href="/" class="nav-link flex align-center">
                <i class="lnr lnr-database"></i>
                <span>Products</span>
            </a>

            <a href="/" class="nav-link flex align-center">
                <i class="lnr lnr-question-circle"></i>
                <span>FAQs</span>
            </a>
        </div>
    </nav>

    <div class="container mt-10 mb-3 pv-4">